<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lzy.k8s.saas.infra.repo.mapper.AccountMapper">


    <!--    根据user_id查询账户-->
    <select id="findByUserId" parameterType="String" resultType="com.lzy.k8s.saas.infra.param.AccountInfo">
        select
            user_id      AS userId
            ,account_id  AS accountId
            ,balance
            ,currency
            ,status
        from biz_center.accounts
        where user_id=#{user_id}
        for update
    </select>


    <select id="findByAccountId" parameterType="String" resultType="com.lzy.k8s.saas.infra.param.AccountInfo">
        select
            user_id      AS userId
            ,account_id  AS accountId
            ,balance
            ,currency
            ,status
        from biz_center.accounts
        where account_id=#{account_id}
        for update
    </select>

    <insert id="createAccount" parameterType="com.lzy.k8s.saas.infra.param.AccountInfo">
        insert into biz_center.accounts(user_id, balance, currency, created_time, updated_time)
        values(#{userId}, #{balance}, #{currency}, #{createdTime}, #{updatedTime})
    </insert>

    <update id="updateAccount" parameterType="com.lzy.k8s.saas.infra.param.AccountInfo">
        update biz_center.accounts
        set balance=#{balance}, updated_time=#{updatedTime} where account_id=#{accountId}
    </update>
</mapper>